/*General Styles */
body {
    background: #737373;
    font-family: Arial, helvectica, sans-serif;
}

div.container {
    width: 780px;
    min-height: 700px;
    margin: 0 auto;
    font-family: Arial, helvetica, sans-serif;
    background-color: white;
}

h1 {
    color: darkred;
    font-size: 15px;
}

h3 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}

/* Header */
.container header > img {
    display: block;
}

/* Navigation */
div.nav {
    text-align: right;
}

.nav a, div.middle a {
    color: black;
    margin: 3px;
    text-decoration: none;
    text-align: left;
    font-size: 0.6em;
    padding: 3px;
    text-transform: uppercase;
}

.nav a:hover {
    text-decoration: underline;
}

.nav span:after {
    content: " |";
}

.nav span:last-of-type:after {
    content: "";
}

/* Top Section*/
div.top {
    margin-top: 5px;
}

.top a img {
    vertical-align: middle;
}

/* Aside Navigation */
aside.nav {
    float: left;
    width: 200px;
    background-color: lightgray;
}

aside.nav a {
    display: block;
    border-bottom: 1px solid darkolivegreen;
    padding: 12px 10px;
    margin: 0 20px;
}

aside.nav a:hover {
    background-color: darkolivegreen;
    color: white;
}

aside.nav div.nav-image-links {
    margin-top: 18rem;
    text-align: left;
}

aside.nav div.nav-image-links a {
    border-bottom: unset;
}

aside.nav div.nav-image-links a:hover {
    background-color: unset;
}

div.middle section.guts aside.nav {
    float: left;
    width: 200px;
    background-color: lightgray;
}

/* Main Content */
.middle {
    height: 850px;
    padding-right: 1rem;
}

section.guts {
    min-height: 500px;
    display: flex;
}

div.middle section.guts article.main {
    float: right;
    width: 480px;
    min-height: 300px;
    background-color: #fff;
    padding: 0.5rem;
}

.image-wrap {
    float: right;
    margin: 10px;
    border-radius: 20px;
    width: 50%;
}

/* Article Styles */
article.main h1 {
    color: darkred;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 8px;
    margin-bottom: 0.5rem;
}

article.main div.content {
    overflow: auto;
    padding: 0.5rem;
}

article.main a {
    display: block;
    text-align: right;
    color: red;
    font-size: 85%;
    text-decoration: none;
}

article.main a:hover {
    text-decoration: underline;
}

div.content p span {
    font-weight: bolder;
    color: darkred;
    font-size: 15px;
}

/* Faculty */
.faculty {
    text-align: left;
    width: 20%;
    margin-right: 10px;
}

.faculty-names {
    text-align: left;
    margin-top: 250px;
}

/* Vertical Lines */
.vl {
    border-left: 1px solid darkolivegreen;
    height: 800px;
    padding: 10px;
}

.dvl {
    border-left: 3px dotted black;
    height: 780px;
    margin-right: 10px;
}

/* Paragraph Styles */
div.indent {
    text-indent: 20px;
    color: darkred;
}

p.b1 {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    margin: 0;
}

p.n1 {
    text-align: left;
    font-size: 10px;
    margin: 0;
}

p.r1 {
    margin: 3px;
}

p {
    text-align: justify;
    font-size: 13px;
}

/* Bottom Nav*/
div.bottom a {
    font-size: 10px;
    text-transform: lowercase;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: darkolivegreen;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 15px;
    letter-spacing: 0.5px;
}








